{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "web3": true,
    "contract": true,
    "artifacts": true,
    "assert": true
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": [
      "warn"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
